@font-face {
    font-family: 'Georgia-Italic';
    src: url('/shelter/assets/fonts/Georgia-Italic.woff2') format('woff2'),
        url('/shelter/assets/fonts/Georgia-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('/shelter/assets/fonts/Georgia.woff2') format('woff2'),
        url('/shelter/assets/fonts/Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('/shelter/assets/fonts/ArialMT.woff2') format('woff2'),
        url('/shelter/assets/fonts/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial-Italic';
    src: url('/shelter/assets/fonts/ArialMT.woff2') format('woff2'),
        url('/shelter/assets/fonts/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/shelter/assets/fonts/Inter24pt-Regular.woff2') format('woff2'),
        url('/shelter/assets/fonts/Inter24pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

