@keyframes menuOpen {
    from {
        right: -rem(320px);
    }

    to {
        right: 0;
    }
}

@keyframes menuClose {
    from {
        right: 0;
    }

    to {
        right: -rem(320px);
    }
}

.burger-menu {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    .nav__list {
        width: rem(320px);
        min-width: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: rem(41px);
        background-color: $color-dark-xl;
        position: absolute;
        right: rem(-320px);
        top: 0;
        margin: 0;

        li:first-child {
            margin-top: rem(249px);
        }

        a {
            font-weight: 400;
            font-size: rem(32px);
            line-height: 160%;
            padding-bottom: rem(7px);
        }
    }
}

.nav__list_open {
    animation: menuOpen 0.3s;
}

.nav__list_opened-position {
    right: 0 !important;
}

.nav__list_close {
    animation: menuClose 0.3s;
}

@media (max-width: 320px) {
    .nav__list {
        width: 100% !important;
    }
}