@keyframes scaleUp {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.animation-scale {
    animation: scaleUp 0.5s;
}

.modal-window {
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.d-flex {
    display: flex;
}

.popup {
    width: rem(900px);
    min-height: rem(500px);
    display: flex;
    justify-content: flex-start;
    gap: rem(29px);
    background-color: $color-white;
    border-radius: rem(9px);
    font-family: $font-group-2;
    position: relative;
    overflow: hidden;
}

.modal-window__wrapper {
    position: relative;
}

.data-list__item {
    color: $color-main-orange;

    span {
        color: $color-black;
    }
}

.popup__picture {
    width: rem(500px);
    height: rem(500px);
    object-fit: contain;
    align-self: center;
}

.popup__right-block {
    width: rem(351px);
    min-height: rem(362px);
    padding: rem(16px);
}

.popup__title {
    font-style: normal;
    font-weight: 400;
    font-size: rem(35px);
    line-height: 130%;
    /* or 45px */

    letter-spacing: 0.06em;
    margin-top: rem(35px);
    margin-bottom: rem(9px);
    color: #000000;
}

.popup__second-title {
    font-size: rem(20px);
    line-height: 115%;
    letter-spacing: 0.06em;
    margin: 0;
}

.popup__description {
    font-family: $font-group-2;
    font-style: normal;
    font-size: rem(15px);
    line-height: 110%;
    letter-spacing: 0.06em;
    margin: rem(42px) 0;
}

.popup__data-list {
    padding-left: rem(16px);
}

.data-list__item {
    font-family: $font-group-2;
    font-size: rem(15px);
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-top: rem(11px);
}

.data-list__item-name {
    font-weight: 700;
    letter-spacing: 0.13em;
}

.popup__button-close {
    background-image: none;
    position: absolute;
    color: $color-dark-xl;
    top: rem(-52px);
    right: rem(-42px);
    font-size: rem(20px);
    font-family: $font-group-1;
    font-weight: 700;

    @media screen and (max-width: 479px) {
        border-color: $color-main-orange-hover;
        background-color: $color-main-orange-hover;
    }
}

.button__hover {
    border-color: $color-main-orange-hover;
    background-color: $color-main-orange-hover;
    cursor: pointer;
}

@media (max-width: 1040px) {
    .popup {
        width: rem(630px);
        min-height: (350px);
        gap: rem(11px);
    }

    .popup__picture {
        width: rem(350px);
        height: rem(350px);
        object-fit: cover;
    }

    .popup__right-block {
        width: rem(261px);
        min-height: rem(303px);
        padding: rem(11px);
    }

    .popup__title {
        margin-top: 0;
    }

    .popup__description {
        font-size: rem(13px);
        margin: rem(20px) 0 rem(18px);
    }

    .popup__data-list {
        padding-left: rem(16px);
    }

    .data-list__item {
        margin-top: rem(7px);
    }
}

@media (max-width: 735px) {
    .popup {
        width: rem(240px);
        min-height: rem(341px);
        gap: rem(11px);
    }

    .popup__picture {
        display: none;
    }

    .popup__right-block {
        width: 100%;
        min-height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        padding: rem(10px);
    }

    .popup__title {
        margin-top: 0;
    }

    .popup__description {
        font-size: rem(13px);
        text-align: justify;
        margin: rem(20px) 0 rem(15px);
    }

    .popup__data-list {
        align-self: flex-start;
        padding-left: rem(16px);
        margin: 0;
    }

    .data-list__item {
        margin-top: rem(7px);
    }

    .popup__button-close {
        right: rem(-30px);
        text-align: center;
    }
}