@keyframes step-in-left {
    from {
        right: 100%;
    }

    to {
        right: 200%;
    }
}

@keyframes step-in-right {
    from {
        right: 100%;
    }

    to {
        right: 0;
    }
}

.slider {
    display: flex;
    align-items: center;
    gap: rem(53px);
}

.slider-button {
    width: rem(52px);
    height: rem(52px);
    background-image: url('../../assets/icons/arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: rem(2px) solid $color-main-orange;
    border-radius: rem(100px);
    transition: 0.3s;

    @media screen and (min-width: 480px) {
        &:hover:not(&:disabled) {
            background-color: $color-main-orange-hover;
            border-color: $color-main-orange-hover;
            cursor: pointer;
        }
    }

    &:active {
        background-color: $color-main-orange-hover;
        border-color: $color-main-orange-hover;
    }

    &:disabled {
        border-color: $color-dark-1;
        opacity: 0.3;
    }
}

.slider__button-left {
    order: 1;
}

.slider__button-right {
    order: 3;
    transform: rotate(180deg);
}

.slider__cards-block {
    width: rem(990px);
    min-height: rem(435px);
    order: 2;
    overflow: hidden;
    flex-shrink: 0;
}

.slider__items {
    display: flex;
    position: relative;
    right: rem(990px);
}

.moving-right {
    animation: step-in-left 0.5s;
}

.moving-left {
    animation: step-in-right 0.5s;
}

.moving-right-fast {
    animation: step-in-left 0.2s;
}

.moving-left-fast {
    animation: step-in-right 0.2s;
}

.slider__slide-item {
    min-width: rem(990px);
    min-height: rem(435px);
    display: flex;
    justify-content: center;
    gap: rem(90px);
}

.card {
    width: rem(270px);
    min-height: rem(435px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
    border-radius: rem(9px);
    overflow: hidden;
    transition: 0.3s;

    @media screen and (min-width: 480px) {
        &:hover {
            cursor: pointer;
            transform: scale(0.95);
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.7);

            .card__button {
                background-color: $color-main-orange-hover;
                border-color: $color-main-orange-hover;
            }
        }
    }

    @media screen and (max-width: 479px) {
        &:active {
            .card__button {
                background-color: $color-main-orange-hover;
                border-color: $color-main-orange-hover;
            }

            transform: scale(0.8);
        }
    }
}

.card__image {
    width: rem(270px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card_title {
    font-family: $font-group-2;
    font-weight: 400;
    font-size: rem(20px);
    line-height: rem(23px);
    text-align: center;
    letter-spacing: 0.06em;
    color: $color-dark-1;
    margin: rem(30px) 0;
}

.card__button {
    background-color: $color-white;
    border: 2px solid $color-main-orange;
    padding: rem(13px) rem(43px);

    @media screen and (min-width: 480px) {
        &:hover {
            border-color: $color-main-orange-hover;
        }
    }
}

.slider__button-block {
    display: none;
}

@media (max-width: 1275px) {
    .slider {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(13px);
    }

    .slider__cards-block {
        width: rem(790px);
        justify-content: space-between;
        gap: rem(20px);
    }

    .slider__items {
        right: 100%;
    }

    .slider__slide-item {
        min-width: 100%;
        min-height: rem(435px);
        display: flex;
        justify-content: space-between;
        gap: 0;
    }
}

@media (max-width: 1275px) {
    .slider__cards-block {
        gap: 0;
    }
}

@media (min-width: 1000px) and (max-width: 1275px) {

    .slider__cards-block {
        min-height: rem(390px);
    }

    .slider__slide-item {
        min-height: rem(390px);
        justify-content: center;
        gap: rem(25px);
    }

    .card {
        width: 30%;
        min-height: rem(390px);
    }

    .card__image {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .card_title {
        margin: rem(20px) 0;
    }

    .slider-button {
        width: rem(45px);
        height: rem(45px);
    }
}

@media (max-width: 999px) {


    .d-1000px-none {
        display: none;
    }

    .slider {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(12px);
    }

    .slider__cards-block {
        width: 82%;
        justify-content: center;
        gap: rem(40px);
    }

    .slider__items {
        right: 100%;
    }

    .slider__slide-item {
        min-width: 100%;
        min-height: rem(435px);
        display: flex;
        justify-content: center;
        gap: rem(40px);
    }
}

@media (max-width: 765px) {
    .slider {
        gap: rem(12px);
    }

    .slider__slide-item {
        justify-content: center;
        gap: rem(20px);
    }
}

@media (max-width: 745px) {

    .d-745px-none {
        display: none;
    }

    .slider {
        gap: rem(10px);
    }

    .slider__cards-block {
        width: 60%;
    }

    .slider__items {
        right: 100%;
    }

    .slider__slide-item {
        min-width: 100%;
        justify-content: center;
        gap: rem(20px);
    }
}

@media (max-width: 585px) {
    .d-585px-none {
        display: none;
    }

    .slider__button-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(80px);
    }

    .slider {
        flex-direction: column;
        margin: rem(42px) 0;
        gap: rem(20px);
    }

    .slider__cards-block {
        width: 100%;
        order: 1;
    }

    .slider__button-block {
        order: 2;
    }
}

@media (max-width: 319px) {
    .card__image {
        background-size: cover;
    }
}