@use '../abstracts/' as *;

.first-screen {
    display: flex;
    flex-direction: column;
    gap: rem(90px);
    background: url('/assets/images/noise_transparent@2x.webp'),
                radial-gradient(#5B483A, #262425);
}