@use '../abstracts' as *;

.shelter-logo-link {
    @extend %reset-link-styles;
    width: fit-content;

    .logo__wrapper {
        display: flex;
        flex-direction: column;
        gap: rem(10px);
    }

    .logo__title {
        font-family: $font-family;
        font-weight: 400;
        font-size: rem(32px);
        line-height: 110%;
        letter-spacing: 0.06em;
        color: $color-primary;
        margin: 0;
    }

    .logo__subtitle {
        font-family: $second-family;
        font-weight: 400;
        font-size: rem(13px);
        letter-spacing: 0.1em;
        padding-left: rem(5px);
        color: $color-light-xl;
    }

    &[href='#']:hover {
        cursor: default;
    }
}