.about {
    background-color: $color-white;
    @extend %blocksPaddings;
}

.about__wrapper {
    display: flex;
    justify-content: center;
    gap: rem(119px);
}

.about__left-picture {
    width: rem(300px);
    height: rem(408px);
    background: url('../../assets/images/about-pets.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.about__right-block {
    width: rem(430px);
    min-height: rem(380px);
}

.about__title {
    width: rem(370px);
    margin: rem(14px) 0;
}

.about__description {
    color: $color-dark-2;
    margin-top: rem(25px);
    margin-bottom: 0;
}

@media (max-width: 945px) {
    .about__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem(79px);
    }

    .about__left-picture {
        order: 2;
    }

    .about__right-block {
        display: flex;
        flex-direction: column;
        width: 61%;
        order: 1;
    }

    .about__title {
        margin: 0;
    }
}

@media (max-width: 600px) {
    .about__wrapper {
        gap: rem(39px);
    }
    .about__right-block {
        width: 84.5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }

    .about__title {
        width: 68vw;
        text-align: center;
    }

    .about__description {
        margin-top: 7.45vw;
    }

    .about__left-picture {
        width: rem(260px);
        height: rem(353.6px);
    }
    
}