.donation {
    @extend %blocksPaddings;
    background: $color-grey-light;
    padding-bottom: rem(87px);
}

.donation__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(30px);
}

.donation__image {
    width: rem(505px);
    height: rem(261px);
    background: url('../../assets/images/donation-dog.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: rem(13px);
}

.donation__right-block {
    width: rem(380px);
}

.donation__title {
    width: rem(300px);
    margin: 0;
}

.donation__bank-name {
    display: block;
    font-family: $font-group-2;
    font-style: normal;
    font-weight: 400;
    font-size: rem(15px);
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-dark-1;
    margin: rem(20px) 0;
}

.donation__card-number {
    width: fit-content;
    display: block;
    font-size: rem(20px);
    line-height: 115%;
    letter-spacing: 0.06em;
    text-decoration: none;
    border-radius: rem(9px);
    padding: rem(10px) rem(15px);
    padding-left: rem(60px);
    margin-bottom: rem(20px);
    position: relative;

    &::before {
        content: "";
        width: rem(30px);
        height: rem(23px);
        background: url('../../assets/icons/icon-credit-card.svg');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: center;
        left: rem(15px);
    }
}

.donation__description {
    font-weight: 400;
    font-size: rem(12px);
    line-height: rem(18px);
    color: $color-grey-dark;
}

@media (max-width: 999px) {
    .donation__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem(47px);
    }

    .donation__image {
        order: 2;
    }

    .donation__right-block {
        order: 1;
    }
}

@media (max-width: 550px) {

    .donation {
        padding-bottom: rem(29.5px);
    }

    .donation__wrapper {
        gap: rem(29px);
    }

    .donation__image {
        width: rem(260px);
        height: rem(135px);
        background-size: cover;
    }

    .donation__right-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .donation__title {
        width: 68vw;
        text-align: center;
    }

    .donation__bank-name {
        font-size: rem(15px);
        line-height: 160%;
        letter-spacing: 0;
    }

    .donation__card-number {
        font-size: rem(15px);
        line-height: 110%;
        letter-spacing: 0.06em;
        padding: rem(13px) rem(15px) rem(13px) rem(60px);
        margin-bottom: rem(9px);

        &::before {
            background-size: cover;
            top: 9px;
        }
    }

    .donation__description {
        width: rem(280px);
        font-size: rem(12px);
        line-height: rem(18px);
        text-align: justify;
        letter-spacing: 0;
    }
}