.first-screen {
    display: flex;
    flex-direction: column;
    background: url('../../assets/images/noise_transparent.webp'),
        radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}