@use '../abstracts' as *;


.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: rem(30px)
}

.nav__list {
    display: flex;
    align-items: center;
    gap: rem(35px);
    list-style: none;
    color: $color-dark-s;
    padding: 0;

    .nav__link {
        @extend %reset-link-styles;
        font-family: $second-family;
        font-weight: 400;
        font-size: rem(15px);
        line-height: 160%;
        letter-spacing: rem(0.15px);
        color: inherit;
        transition: $animations-time;

        &:not(.nav__link--active):hover {
            cursor: pointer;
            color: $color-light-s;
        }

        &.nav__link--active {
            cursor: default;
            color: $color-light-s;
            border-bottom: rem(3px) solid $color-primary;
        }
    }

    &.nav__list--dark {
        color: $color-dark-l;

        .nav__link {
            &:not(.nav__link--active):hover {
                color: $color-dark-3xl;
            }

            &.nav__link--active {
                color: $color-dark-3xl;
            }
        }
    }
}