@use 'functions' as *;

%reset-link-styles {
    display: block;
    width: fit-content;
    text-decoration: none;
    color: inherit;
}

%reset-btn-styles {
    outline: none;
    border: none;
    background: transparent;
}

%section-padding {
    padding-top: rem(80px);
    padding-bottom: rem(100px);
}

@media (max-width: 420px) {
    %section-padding {
        padding-top: rem(42px);
        padding-bottom: rem(42px);
    }
}