@use '../abstracts/' as *;

.b-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(59px);
}

.b-slider__window {
    width: 100%;
    overflow: hidden;
}

.bs-card {
    min-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: rem(30px) rem(40px);
}

.b-slider__carousel {
    display: flex;
    transform: translateX(-100%);
}

.b-slider__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(20px);

    .btn-inactive {
        color: $color-dark-s;
    }

    .bs__button-current {
        background-color: $color-primary;

        // &:hover {
        //     cursor: default;
        //     background-color: $color-primary;
        //     border-color: $color-primary;
        // }
    }
}

@media(min-width: 950px) and (max-width: 1279px) {

    .bs-card {
        gap: rem(17px) rem(22px);
    }

    .bs-card>.card {
        width: 20%;
        height: fit-content;
        gap: rem(20px);
        padding-bottom: 2%;

        .primary-btn {
            padding: 5% 12%;
        }
    }
}

@media(max-width: 780px) {
    .pets__wrapper {
        gap: rem(30px);
    }
}