@mixin blocksPaddings($pt, $pr, $pb, $pl) {
    padding: $pt $pr $pb $pl;
}

%blocksPaddings {
    padding-top: rem(80px);
    padding-bottom: rem(100px);
}

@media (max-width: 535px) {
    %blocksPaddings {
        padding-top: rem(42px);
        padding-bottom: rem(42px);
    }
}