$html-font-size: 16px;
$font-group-1: 'Arial', sans-serif;
$font-group-2: 'Georgia', serif;

// colors:
$color-white: #ffffff;
$color-white-dark: #CDCDCD;
$color-grey-light: #F6F6F6;
$color-grey-dark: #B2B2B2;
$color-black: #000000;
$color-dark: #292929;
$color-dark-1: #545454;
$color-dark-2: #4C4C4C;
$color-dark-xl: #292929;
$color-main-orange: #F1CDB3;
$color-main-orange-hover: #FDDCC4;