@use '../abstracts/' as *;

.about {
    @extend %section-padding;
}

.about__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(120px);
}

.about__content-block {
    width: rem(428px);
    display: flex;
    flex-direction: column;
    gap: rem(25px);

    & * {
        margin: 0;
    }
}

.about__title {
    width: rem(370px);
}

.about__description {
    // text-align: center;
}

.about__image {
    width: rem(300px);
}

@media (max-width: 1024px) {
    .about__wrapper {
        gap: rem(70px);
    }
}

@media (max-width: 870px) {
    .about__wrapper {
        flex-wrap: wrap;
        gap: rem(79px);
    }

    .about__content-block {
        order: 1;
    }

    .about__image {
        order: 2;
    }
}

@media(max-width: 420px) {
    .about__wrapper {
        padding: 0 rem(25px);
        text-align: justify;
        gap: rem(40px);
    }

    .about__content-block {
        gap: rem(23px);
    }

    .about__image {
        width: 97%;
    }
}