@use '../abstracts/' as *;

.footer {
    padding-top: rem(40px);
    background: url('../images/noise_transparent@2x.webp'),
        radial-gradient(circle at top left, #5B483A, #262425);
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__links-block {
    width: rem(302px);
    display: flex;
    flex-direction: column;
    gap: rem(42px);
    padding-top: rem(16px);

    &>* {
        margin: 0
    }

    h2 {
        color: $color-light-xl;
    }

    &:nth-child(2) {
        gap: rem(32px);
        margin-right: rem(21px);
    }
}

.footer__link {
    @extend %reset-link-styles;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(20px);
    font-family: $font-family;
    font-weight: 400;
    font-size: rem(20px);
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-primary;
    transition: $animations-time;

    svg {
        width: rem(40px);
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            filter: brightness(150%);
        }
    }

    &:active {
        filter: brightness(150%);
        transform: scale(0.9);
    }
}

.footer__location-image {
    width: rem(22px);
}

.footer__image {
    width: rem(300px);
}

@media (max-width: 1080px) {
    .footer__wrapper {
        gap: rem(50px) rem(100px);
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 900px) {
    .footer {
        padding-top: rem(30px);
    }

    .footer__wrapper {
        gap: rem(50px);
    }
}

@media (max-width: 800px) {
    .footer__wrapper {
        gap: rem(65px) rem(37px);
    }

    .footer__links-block {
        padding-top: 0;

        &:nth-child(2) {
            margin-right: 0;
        }
    }
}

@media (max-width: 420px) {

    .footer__wrapper {
        gap: rem(40px);
    }

    .footer__links-block:first-child {
        align-items: center;
    }

    .footer__links-block {
        align-items: center;
    }

    .footer__links-block-second {
        align-items: flex-start;
        gap: rem(40px) !important;

        h2 {
            width: 90% !important;
        }
    }

    .footer__image {
        width: 87%;
    }
}