@use '../abstracts' as *;


.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: rem(30px)
}

.nav__list {
    display: flex;
    align-items: center;
    gap: rem(35px);
    list-style: none;
    color: $color-dark-s;
    padding: 0;

    .nav__link {
        @extend %reset-link-styles;
        font-family: $second-family;
        font-weight: 400;
        font-size: rem(15px);
        line-height: 160%;
        letter-spacing: rem(0.15px);
        color: inherit;
        transition: $animations-time;

        &:not(.nav__link--active):hover {
            cursor: pointer;
            color: $color-light-s;
        }

        &.nav__link--active {
            cursor: default;
            color: $color-light-s;
            border-bottom: rem(3px) solid $color-primary;
        }
    }

    &.nav__list--dark {
        color: $color-dark-l;

        .nav__link {
            &:not(.nav__link--active):hover {
                color: $color-dark-3xl;
            }

            &.nav__link--active {
                color: $color-dark-3xl;
            }
        }
    }
}

.burger-btn {
    @extend %reset-btn-styles;
    display: none;
    width: rem(30px);
    height: rem(22px);
    position: relative;
    border-bottom: 2px solid $color-primary;

    &.burger-btn--active {
        transform: rotate(90deg);
    }

    &:hover {
        cursor: pointer;
    }

    &::after {
        content: '';
        width: 100%;
        height: rem(2px);
        background-color: $color-primary;
        position: absolute;
        top: 0;
        right: 0;
    }

    &::before {
        content: '';
        width: 100%;
        height: rem(2px);
        background-color: $color-primary;
        position: absolute;
        bottom: calc(50% - rem(2px));
        right: 0;
    }

    &.burger-btn--black {
        border-color: $color-black;

        &::after {
            background-color: $color-black;
        }

        &::before {
            background-color: $color-black;
        }
    }
}

@media(max-width: 767px) {
    .nav--d-none {
        display: none;
    }

    .burger-btn {
        display: block;
    }
}