@use '../abstracts/' as *;

.help {
    @extend %section-padding;
}

.help__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(60px);
}

.help__title {
    width: rem(310px);
    text-align: center;
    margin: 0;
}

.help__content-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(55px) rem(120px);
    list-style: none;
    padding: 0;
    margin: 0;
}

.help__list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(30px);

    svg {
        width: rem(60px);
    }

    h3 {
        margin: 0;
    }
}

@media (max-width: 1040px) {
    .help__list-item {
        width: rem(170px);
    }
}

@media (max-width: 890px) {

    .help__content-list {
        gap: rem(55px) rem(60px);
    }

    .help__list-item {
        width: rem(170px);
    }
}

@media (max-width: 700px) {

    .help__content-list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, rem(130px));
        gap: rem(30px);

        h3 {
            font-size: rem(15px);
        }
    }

    .help__list-item {
        width: 100%;
    }
}

@media (max-width: 420px) {
    .help__wrapper {
        gap: rem(42px);
    }

    .help__list-item {
        gap: rem(20px);

        & svg {
            width: rem(50px);
        }
    }
}