@use '../abstracts/' as *;

.pets--header {

    .header__wrapper {
        min-height: rem(120px);
        margin-top: 0;
    }

    @media (max-width: 767px) {
        .pets--menu-767 {
            z-index: 1;

            .nav__link {
                color: $color-dark-s;

                @media (hover: hover) and (pointer: fine) {
                    &:not(.nav__link--active):hover {
                        cursor: pointer;
                        color: $color-light-s;
                    }
                }

                &.nav__link--active {
                    cursor: default;
                    color: $color-light-s;
                    border-bottom: rem(3px) solid $color-primary;
                }
            }
        }

        .burger-btn--black {
            z-index: 2;
        }

        .burger-btn--active {
            border-bottom: rem(2px) solid $color-primary;

            &::after {
                background-color: $color-primary;
            }

            &::before {
                background-color: $color-primary;
            }
        }
    }
}